<!--
  Created by IntelliJ IDEA.
  User: phunq3107
  Date: 8/22/2021
  Time: 10:11 AM
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Pet clinic index</title>
</head>
<body>
<h2 th:text="#{welcome}">Welcome</h2>
<div class="row">
    <img class="image-responsive"
         src="../static/resources/images/pets.png"
         th:src="@{/resources/images/pets.png}"/>
</div>
</body>
</html>